/coderl_env/*
/data/*
/scripts/python_env_handlings.sh
/models/*
configs/__pycache__/*
datasets/__pycache__/*
/outputs/*
my_helpful_files/*
utils/__pycache__/*
/exps/*
/model_checkpoints/*
*/__pycache__/*
helpful_files/output_files/*